.header .container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 85px;
}

.logo-web-part {
  color: var(--accent-color);
}

/*Site nav*/
.site-nav {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .nav-item .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-item .link:hover,
.nav-item .link:focus {
  color: var(--accent-color);
}

.nav-item .link.current {
  position: relative;
}

.nav-item .link.current::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  transform: scaleX(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item .link.current:hover::after,
.nav-item .link.current:focus::after {
  transform: scaleX(0.5);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contact-item:not(:last-child) {
  margin-right: 30px;
}

.contact-item .link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--description-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-cont {
  display: inline;
}

.contact-item .link:hover,
.contact-item .link:focus {
  color: var(--accent-color);
}

.link-icon {
  width: 16px;
  height: 12px;
  display: inline-block;
  cursor: pointer;
  fill: var(--description-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item .link:hover .link-icon,
.contact-item .link:focus .link-icon {
  fill: var(--accent-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  /* outline: 2px solid violet; */
  margin-bottom: 94px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/hero/bg.jpg);
  max-width: 1600px;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
  background-size: cover;
}

.hero-title {
  color: var(--hero-headline-text-color);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.button {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  cursor: pointer;
}

.button:active,
.button:enabled {
  outline: none;
}

.hero .button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.about-us {
  /* outline: 2px solid turquoise; */
  margin-bottom: 94px;
}

.about-us.section .section-title {
  display: none;
}

.about-us.list {
  display: flex;
  justify-content: center;
}

.about-us-item {
  width: calc(100% - 90px / 4);
}

.about-us-item:not(:last-child) {
  margin-right: 30px;
}

.about-us-item .headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-us-item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
}

.about-us-item.icon-details::before {
  background-image: url("../images/about-us/antenna.svg");
}

.about-us-item.icon-punctuality::before {
  background-image: url("../images/about-us/clock.svg");
}

.about-us-item.icon-planning::before {
  background-image: url("../images/about-us/diagram.svg");
}

.about-us-item.icon-up-to-date::before {
  background-image: url("../images/about-us/astronaut.svg");
}

.about-us .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--description-text-color);
}

.activity.section {
  margin-bottom: 94px;
}

.activity.list {
  display: flex;
  justify-content: center;
}

.activity-item:not(:last-child) {
  margin-right: 30px;
}

.activity-description {
  position: relative;
}

.activity .description {
  color: #ffffff;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
}

.team.section {
  background-color: var(--team-section-bg-color);
  margin-bottom: 94px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team.section .team.list {
  display: flex;
  justify-content: center;
}

.team-member:not(:last-child) {
  margin-right: 30px;
}

.team-member {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
}

.team-member .photo {
  margin-bottom: 30px;
}

.team-member .info {
  padding-bottom: 24px;
}

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 10px;
}

.team .position {
  color: var(--description-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.social-nw.list {
  display: flex;
  justify-content: center;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 2px dotted green; */
}

.social-nw.list .item {
  align-items: center;
  /* outline: 2px dotted blue; */
}

.social-nw.list .social-nw-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-nw.list .social-nw-link:hover,
.social-nw.list .social-nw-link:focus {
  background-color: var(--accent-color);
}

.social-nw-link .nw-icon {
  display: block;
  cursor: pointer;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-nw-link:hover .nw-icon,
.social-nw-link:focus .nw-icon {
  fill: #ffffff;
}

.social-nw.list .item:not(:last-child) {
  margin-right: 10px;
}

.clients.section {
  margin-bottom: 94px;
}

.clients.list {
  display: flex;
  justify-content: space-around;
}

.client-logo:not(:last-child) {
  margin-right: 30px;
}

.client-logo .company-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo .link {
  display: flex;
  width: 170px;
  height: 90px;
  border-width: 1px;
  border-color: #afb1b8;
  border-style: solid;
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-logo .link:hover .company-icon,
.client-logo .link:focus .company-icon {
  fill: var(--accent-color);
}

.client-logo .link:hover {
  border-color: var(--accent-color);
}

footer {
  background-color: #2f303a;
}

.main-info-container {
  margin-right: 69px;
  padding-right: 10px;
}

.footer .container {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}

.footer-contacts-list {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo.footer {
  color: var(--primary-bg-color);
}

.logo.link.footer {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: auto;
}

.location {
  color: var(--primary-bg-color);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-list .item {
  margin-bottom: 9px;
}

.join-us-container {
  margin-right: 94px;
}

.join-us-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join-us.list {
  display: flex;
}

.join-us.list .item:not(:last-child) {
  margin-right: 10px;
}

.join-us-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-us-link:hover,
.join-us-link:focus {
  background-color: var(--accent-color);
}

.join-us-link .nw-icon {
  fill: #ffffff;
}

.subscribe-form {
  display: flex;
}

.subscribe-form-field {
  display: flex;
  flex-direction: column;
  margin-right: 12px;
}

.subscribe-email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;
  color: #fff;
}

.subscribe-email:focus {
  outline: none;
}

.subscribe.button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  display: inline-flex;
  align-items: center;
}

.subscribe.button::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
}
/*# sourceMappingURL=main.css.map */